name: Build

on:
  push:
    paths:
      - "**/*.yml"
      - "**/*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
  pull_request:
    paths:
      - "**/*.yml"
      - "**/*.rs"
      - "Cargo.toml"
      - "Cargo.lock"

jobs:
  lint:
    name: Lint
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Run cargo fmt
        run: cargo fmt --all --all-features -- --check

      - name: Run cargo clippy
        run: cargo clippy --all --all-targets --all-features -- -W clippy::pedantic

  build:
    name: Build (${{ matrix.target == 'x86_64-pc-windows-msvc' && 'x64' || 'arm64' }}, ${{ matrix.profile }})
    runs-on: windows-latest
    needs: lint
    strategy:
      matrix:
        target: [x86_64-pc-windows-msvc, aarch64-pc-windows-msvc]
        profile: [release, optimized]
      max-parallel: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.target }}

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Build
        run: cargo build --target ${{ matrix.target }} --profile ${{ matrix.profile }} --all-features

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: debloat-${{ matrix.target == 'x86_64-pc-windows-msvc' && 'x64' || 'arm64' }}-${{ matrix.profile }}
          path: target/${{ matrix.target }}/${{ matrix.profile }}/debloat.exe
