name: Build

on:
  push:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: windows-latest
    stepst:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy --all-targets -- -W clippy::pedantic

  build:
    name: Build (${{ matrix.target }}, ${{ matrix.profile }})
    runs-on: windows-latest
    needs: lint
    strategy:
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
            profile: release
          - target: x86_64-pc-windows-msvc
            profile: optimized
          - target: aarch64-pc-windows-msvc
            profile: release
          - target: aarch64-pc-windows-msvc
            profile: optimized

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Cache target/
        uses: actions/cache@v3
        with:
          path: target
          key: target-${{ matrix.target }}-${{ matrix.profile }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            target-${{ matrix.target }}-${{ matrix.profile }}-

      - name: Build
        run: cargo build --target ${{ matrix.target }} --profile ${{ matrix.profile }} --all-features

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: debloat-${{ matrix.target }}-${{ matrix.profile }}
          path: target/${{ matrix.target }}/${{ matrix.profile }}/debloat.exe
