name: Build

env:
  RUSTC_WRAPPER: sccache
  SCCACHE_GHA_ENABLED: true

on:
  push:
    paths:
      - "**/*.yml"
      - "**/*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
  pull_request:
    paths:
      - "**/*.yml"
      - "**/*.rs"
      - "Cargo.toml"
      - "Cargo.lock"

permissions:
  contents: write

jobs:
  lint:
    name: Lint
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Cache cargo registry and target
        uses: actions/cache@v4
        with:
          path: |
            C:\Users\runner\.cargo\registry\index
            C:\Users\runner\.cargo\registry\cache
            C:\Users\runner\.cargo\git\db
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy --all --all-targets --all-features -- -W clippy::pedantic

  build:
    name: Build (${{ matrix.target == 'x86_64-pc-windows-msvc' && 'x64' || 'arm64' }}, ${{ matrix.profile }})
    runs-on: windows-latest
    needs: lint
    strategy:
      matrix:
        target: [x86_64-pc-windows-msvc, aarch64-pc-windows-msvc]
        profile: [release, optimized]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.target }}

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Cache cargo registry and target
        uses: actions/cache@v4
        with:
          path: |
            C:\Users\runner\.cargo\registry\index
            C:\Users\runner\.cargo\registry\cache
            C:\Users\runner\.cargo\git\db
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --target ${{ matrix.target }} --profile ${{ matrix.profile }} --all-features

      - name: Rename executable
        run: |
          $arch = "${{ matrix.target == 'x86_64-pc-windows-msvc' && 'x64' || 'arm64' }}"
          $profile = "${{ matrix.profile }}"
          $source = "target/${{ matrix.target }}/${{ matrix.profile }}/debloat.exe"
          $dest = "debloat-$arch-$profile.exe"
          Copy-Item $source $dest
        shell: pwsh

      - name: Upload artifact
        uses: actions/upload-artifact@v4.5.0
        with:
          name: debloat-${{ matrix.target == 'x86_64-pc-windows-msvc' && 'x64' || 'arm64' }}-${{ matrix.profile }}
          path: debloat-${{ matrix.target == 'x86_64-pc-windows-msvc' && 'x64' || 'arm64' }}-${{ matrix.profile }}.exe

  release:
    name: Create Pre-release
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4.1.3
        with:
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -R artifacts

      - name: Get short SHA
        id: sha
        run: echo "short=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.sha }}
          name: Pre-release ${{ steps.sha.outputs.short }}
          prerelease: true
          files: |
            artifacts/debloat-x64-release/debloat-x64-release.exe
            artifacts/debloat-x64-optimized/debloat-x64-optimized.exe
            artifacts/debloat-arm64-release/debloat-arm64-release.exe
            artifacts/debloat-arm64-optimized/debloat-arm64-optimized.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

